BACKEND_URL=https://sodimusic-backend-um22.vercel.app
NEXT_PUBLIC_API_URL=https://sodimusic-backend-um22.vercel.app
NEXTAUTH_SECRET=pega-aqui-un-secreto-largo-openssl-rand-base64-32
NEXTAUTH_URL=https://TU-FRONTEND.vercel.app
NEXT_PUBLIC_SITE_URL=https://TU-FRONTEND.vercel.app
NEXT_PUBLIC_WHATSAPP=573215368590